@{
    ViewData["Title"] = "Página restrita";
    Layout = "_LayoutDeslogado";
}

<div class="text-center">
    <h1 class="display-4">Você não possui permissão para acessar essa funcionalidade</h1>
</div>

